@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: linear-gradient(
    135deg,
    rgba(168, 230, 207, 0.8),
    rgba(211, 229, 255, 0.8)
  );
}
